@charset "UTF-8";

        body {
            background-color: rgb(43, 220, 226);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color:whitesmoke;
            background-color: brown;
        }
        h2 {
            color:crimson;
        }
        p {
            text-align: justify;
        }
        