@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    
    --fundo: hsl(30, 54%, 90%);
    --fundo-conteudo: hsl(0, 0%, 100%);
    --cor-1: hsl(30, 10%, 34%);
    --cor-2: hsl(24, 5%, 18%);
    --cor-3: hsl(14, 45%, 36%);
    --cor-4: hsl(332, 51%, 32%);
    --cor-5: hsl(330, 100%, 98%);
    --font-1: "young serif", times, serif;
    --font-2: "outfit", sans-serif;
}

body {
    font-family: var(--font-2);
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo);
}

main {
    background-color: var(--fundo-conteudo);
    overflow: hidden;
    transition: margin 0.3s;
}

#recipe {
    padding: 20px 0px;
    width:85%;
    margin: auto;
}

.image {
    transition: margin 0.3s;
}

img {
    width: 100%;
}

h1, h2, h3{
    font-family: var(--font-1);
    font-weight: normal;
    margin-bottom: 15px;
}

p, li {
    line-height: 25px;
    color: var(--cor-1);
}

h1 {
    line-height: 40px;
    color: var(--cor-2);
}

article {
    margin-bottom: 40px;
}

ul  {
    list-style-position: inside;
}

li {
    margin: 10px 25px;
}

#title p {
    margin: 20px 0px;
}

#preparation {
    padding-left: 20px;
    margin: 40px 0px;
}

#preparation h3  {
    color: var(--cor-4);
}


h2 {
    color: var(--cor-3);
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 20px 0px;
}

.table p {
    border-bottom: 1px solid var(--cor-1);
    margin: 10px 0px;
}

@media screen and (min-width:576px) {
    main {
        width: 560px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
    }
    
}

@media screen and  (min-width: 768px) {
    main {
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
    }

    .image {
        place-self: center center;
        margin: 30px;
        border-radius: 10px;
        overflow: hidden;
    }
}