@charset "UTF-8";

/*Configurações gerais*/

* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(35, 62, 255);
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    padding: 10px;
    color: white;
    text-shadow: 3px 3px 3px rgb(25, 25, 192)
}