@charset "UTF-8";

*{
    margin: 0%;   
    padding: 0%;
    box-sizing: border-box;
}
    
body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

h1, h2, p {
    margin-bottom: 20px;
    text-align: justify;
}

p {
    text-indent: 10px;
}

.normal {
    background-color: white;
    padding: 20px;
    
}

.flex-content {
    background-color: lightgray;
    padding: 20px;
    
    display: flex;
    flex-flow: column nowrap;
}
.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
}

.text-media {
    display: flex;
    flex-flow: row wrap;
}

.text {
    flex: 1 1 400px;
}

.media {
    flex: 1 0 400px;
}

img {
    display: block;
    margin: auto;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
}

iframe {
    display: block;
    margin: 10px 10px;
}
