@charset "UTF-8";


body {
    background-image:linear-gradient(to right, aquamarine, rgb(0, 160, 223));
    
}

main {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: auto;
    box-shadow: 5px 5px 10px rgb(28, 80, 80);
    margin: auto;

}

h1 {
    text-align: center;
    text-decoration: underline;
}


.all {
    text-align: center;
}
.div1 {
    
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    border: 0.01em solid black;
    width: 100px;
    height: 100px;
}

.div1:hover {
    background-color: rgb(3, 154, 255);
}

.div1:active {
    color: white;           
    background-color: rgb(0, 93, 105);
}

.div2 {
    text-decoration: underline;
}

.div2 > p {
    display: none;
}

.div2:hover > p {
    display: block;
    background-color: black;
    color: white;
    width: 10em;
    text-align: center;
    margin: auto;
}

.div2:hover {
    color: red;
    text-decoration: none;
}

.link {
    font-family: Arial, Helvetica, sans-serif;  
    text-decoration: none;
    font-weight: bold;
}

.link:visited {
    color: brown;
}

.link:hover {
    background-color: darkred;
    color: white;
}

.link::after {
    content: ' [link]';
    font-weight: normal;
    color: darkgray;
}

.pag {
    margin: auto;
}

button {
    width: 8em;
    height: 3em;
}