@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: gray;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
}

header > h1  {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
    text-align: center;
    margin-bottom: 5px;
}

header > nav {
    display: flex;
    flex-flow: column wrap;
}

header > nav > a {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

header > nav > a:hover{
    background-color: lightgray;
    color: black;
    transition: background-color .5s;
}

section {
    background-color: white;
    padding: 10px;
    width: 90vw;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
}

section > h2 {
    padding-bottom: 15px;
}

section > p {
    padding-bottom: 10px;
    text-indent: 10px;
    text-align: justify;
}