@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template: 80px 40px 1fr 40px / 2fr 1fr;
}

header {
    grid-area: 1 / 1 / 2 / -1;
    display: grid;
    place-content: center center;
}

header > h1 {
    text-align: center;
}

menu {
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    grid-area: 2 / 1 / 3 / -1;
}

menu > a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    flex: 1 1 100px;
}

.primario {
    grid-area: 3 / 1 / 4 / -2;
    padding: 15px;
}

.secundario {
    grid-area: 3 / 2 / 4 / -1;
    padding: 15px;
}

p {
    text-align: justify;
}

footer {
    display: grid;
    place-content: center center;
    grid-area: -2 / 1 / -1 / -1 ;
    color: white;
    background-color: gray;
}

footer > p > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}