@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

html, body {
    background-color: rgb(226, 226, 226);
}

header {
    background-color: rgb(156, 156, 156);
}

header > h1 {
    color: white;
    text-shadow: 2px 2px 2px rgba(80, 80, 80, 0.664);
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: black;
    color: white;
    display: block;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

span#burguer:hover {
    background-color: rgb(240, 240, 240);
    color: black;
}

menu {
    display: none;
}

menu > ul{
    list-style-type: none;

}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(80, 80, 80);
    border-top: 1px solid rgb(185, 185, 185);
    color: white;
}

menu > ul > li > a:hover  {
    background-color: rgb(156, 156, 156);
}

main {
    width: 85vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.603);
    margin-bottom: 20px;
}

article > h2 {
    padding-bottom: 30px;
}

article > p {
    padding-bottom: 20px;
    text-indent: 20px;
    text-align: justify;
}